%ul#controls-container{'data-state' => 'visible'}
  #scrubber.main-controls
    #progress-bar
  %li.main-control-container.left
    %button.main-controls#playpause.fa.fa-play
  %li.main-control-container.left#volume-container
    %button.main-controls.volume.fa.fa-volume-up
    %input.main-controls#volume-bar{type: 'range', min: "0", max: "1", step: "0.1", value: "0", orient: "vertical"}
  %li.main-control-container.left
    %button.main-controls.sub-controls-button#slow-button slow
    %ul#speed-menu.sub-controls{'data-state' => 'hidden'}
      %li
        %button 0.5
      %li
        %button 0.75
      %li
        %button 1
  %li.main-control-container.right
    %button.main-controls#fullscreen-button.fa.fa-expand
  %li.main-control-container.right#subtitles-menu-container
    %button.main-controls.sub-controls-button#subtitles-menu-button.fa.fa-cc
    - unless @film.subtitles.empty?
      %ul#subtitles-menu.sub-controls
        %li
          %button#subtitles-off{label: 'Off'} Off
        %hr
        - @film.subtitles.each do |subtitle|
          %li
            %button.language-button{id: subtitle.language.id, value: subtitle.language.name, lang: subtitle.language.language_code, 'data-state' => 'inactive'}= subtitle.language.name
        %hr
  %li.main-control-container.right
    #time-display
