-##video-controls.controls{'data-state' => 'hidden'}
-#  %progress#progress{value: '0', min: '0'}
-#    %span#progress-bar
-#  %button#playpause{type: 'button', 'data-state' => 'play'}
-#  %button#stop{type: 'button', 'data-state' => 'stop'}
-#  %button#mute{type: 'button', 'data-state' => 'mute'}
-#  %button#volinc{type: 'button', 'data-state' => 'volup'}
-#  %button#voldec{type: 'button', 'data-state' => 'voldown'}
-#  %button#fullscreen{type: 'button', 'data-state' => 'go-fullscreen'}
-#  %button#subtitles{type: 'button', 'data-state' => 'subtitles'} CC
-#  %button#speed{type: 'button', 'data-state' => 'speed'} Slow
-#  %ul#speed-menu{'data-state' => 'hidden'}
-#    %li
-#      %button 0.5
-#    %li
-#      %button 0.75
-#    %li
-#      %button 1
%ul#controls-container{'data-state' => 'visible'}
  %li
    %button#playpause.fa.fa-play
