#film-container
  .film-info-section
    %h2.film-name= @film.name
  .film-video-section
    = video_tag 'les_obejts_wtf_2.mp4', type: 'video/mp4', controls: true, preload: 'metadata'
  .film-translation-section
    %h4.title Translate
    %hr
  .film-subtitles-section
    %h4.title Subtitles
    %hr
