#film-container
  .film-info-section
    %h2.film-name= @film.name
  .film-video-section
    %figure#video-container
      %video#video{src: asset_path(@film.source), type: 'video/mp4', preload: true}
        - @film.subtitles.each do |subtitle|
          - binding.pry
          %track{label: subtitle.language.name, kind: 'subtitles', srclang: subtitle.language.language_code, src: asset_path(subtitle.source), id: subtitle.language.id}
      #subtitles-container
      #video-controls.controls{'data-state' => 'hidden'}
        %progress#progress{value: '0', min: '0'}
          %span#progress-bar
        %button#playpause{type: 'button', 'data-state' => 'play'}
        %button#stop{type: 'button', 'data-state' => 'stop'}
        %button#mute{type: 'button', 'data-state' => 'mute'}
        %button#volinc{type: 'button', 'data-state' => 'volup'}
        %button#voldec{type: 'button', 'data-state' => 'voldown'}
        %button#fullscreen{type: 'button', 'data-state' => 'go-fullscreen'}
        %button#subtitles{type: 'button', 'data-state' => 'subtitles'} CC
        %button#speed{type: 'button', 'data-state' => 'speed'} Slow
    %ul#speed-menu{'data-state' => 'hidden'}
      %li
        %button 0.5
      %li
        %button 0.75
      %li
        %button 1
    #translation-container
      %h4.title Translate
      %hr
      .content
      %button.memory-button.btn.btn-info{type: 'button', 'data-user-id' => current_user.id, 'data-film-id' => @film.id } Add to Memory
  .memory-bank
    %h4 Memory Bank
    %hr
    %table.table.table-bordered
      %thead
        %tr
          %th Text
          %th Translation
          %th
      %tbody
        - @memories.each do | memory |
          %tr
            %td= memory.text
            %td= memory.translation
            %td
