#film-container
  .film-info-section
    %h2.film-name= @film.name
  .film-video-section
    %figure#video-container
      %video#video{src: asset_path(@film.source), type: 'video/mp4', preload: true}
        - @film.subtitles.each do |subtitle|
          %track{label: subtitle.language.name, kind: 'subtitles', srclang: subtitle.language.language_code, src: asset_path(subtitle.source), id: subtitle.language.id}
      - target_language = current_user.user_languages.where(know: true).map do |association| association.language end[0]
      #subtitles-container{'data-target-language-code' => target_language.language_code}
      = render partial: 'video_player'
    #translation-container
      %h4.title Translate
      %hr
      .content
      %button.memory-button.btn.btn-info{type: 'button', 'data-user-id' => current_user.id, 'data-film-id' => @film.id } Add to Memory
  = render partial: 'memories/memory_bank_table'

          