// Place all the styles related to the Films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#film-container{
  width: 100%;
  height: 100%;
  .film-info-section{
    h2.film-name{
      text-align: center;
    }
  }
  .film-video-section{
    width: 60%;
    height: 70%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    #film-block{
      background-color: magenta;
      width: 100%;
      height: 100%;
    }
  }
  .film-translation-section{
    width: 20%;
    display: inline-block;
    height: 70%;
    background-color: #b0000c;
    position: absolute;
  }
}